<div class='{{styles.page-wrapper}}'>
  <header class='{{styles.header}}'>
    <nav>
      <a href='./'>home</a>
      <a href='./profile'>profile</a>
      <a href='./settings'>settings</a>
      <a href='./signin'>signin</a>
      <a href='./signup'>signup</a>
      <a href='./500'>500</a>
    </nav>
  </header>
  <main class='{{styles.content}}'>
    {{{outlet}}}
  </main>
  <footer class='{{styles.footer}}'>footer</footer>
</div>
